<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation">

    <test name="AllTests" >
        <classes>
            <class name="tests.HomeTest" />
            <class name="tests.CareersTest" />
            <class name="tests.QaTest" />
            <class name="tests.JobsTest" />
        </classes>
    </test>

</suite>